<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/亞洲研究中心簡介">中心簡介</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">組織架構</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/news.html">新聞動態</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/events.html">學術活動</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/books.html">出版物</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">聯絡我們</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/eng/index.html">Eng</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/hant/index.html">繁</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/hans/index.html">簡</a>
</li>
